$about-color: #8a8a8a91;
$tech-color: #8a8a8a91;
$contact-color: #8a8a8a91;
$project-color: #8a8a8a91;

.header{
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 50vh 50vh;
  .profilepic{
    position: absolute;
    z-index: 300;
    width: 30vw;
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  div{
    position: relative;
    display: flex;
    align-items: center;
    div{
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 75;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      &:hover{
        filter: sepia(1);
        cursor: pointer;
      }
      label{
        font-size: 2em;
        position: relative;
        z-index: 100;
        padding: 1rem;
      }
      img{
        position: relative;
        z-index: 100;
        width: 40vw;
        height: 40vw;
        max-width: 200px;
        object-fit: contain;
      }
      img,label{
        animation-name: fade-in;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
        
      }
    }
    .backimages{
      position: absolute;
      top:0;
      z-index: 50;
      width: 50vw;
      height: 50vh;
      object-fit: cover;
      filter: blur(2px) grayscale(1);
    }
    .about{
       background: $about-color;
    }
    .tech{
       background: $tech-color;
    }
    .contact{
       background: $contact-color;
    }
    .project{
      background: $project-color;
    }
  }
  @keyframes fade-in {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }
}
.navBar{
   position: fixed;
    top: 50;
    bottom: .1rem;
    display: grid;
    width: 100vw;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 2rem;
    left: 0;
    justify-items: center;
    user-select: none;
    &:hover{
      cursor: pointer;
    }
    div{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        object-fit: contain;
        height: 80%;
        &:hover{
          transform:scale(1.2);
          filter: sepia(1);
        }
      }
      &:hover{
        filter: sepia(1);
      }
    }
    .navBar_menu{
      background: #d4d5ab91;
    }
    .navBar_about{
      background: $about-color;
    }
    .navBar_tech{
      background: $tech-color;
    }
    .navBar_contact{
      background: $contact-color;
    }
    .navBar_project{
      background: $project-color;
    }
}

.element{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  section{
    display: flex;
    align-items: center;
    height: 100%;
    div{
      display: grid;
      grid-template-rows: 12vh auto;
      padding: 0 5vw;
      height: 100%;
      h2{
        font-size: 2rem;
      }
      p{
        font-size: 1.5rem;
        .impChar{
          animation-name: impChar;
          animation-duration: 4s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
          animation-timing-function: linear;
        }
        @keyframes impChar {
          0% {
            filter: opacity(1);
          }
          50%{
            filter: opacity(.5);
          }
          100% {
            filter: opacity(1);
          }
        }
      }
    }
    .element_about{
      background: $about-color;
    }
    .element_tech{
      background: $tech-color;
    }
    .element_contact{
      background: $contact-color;
    }
    .element_project{
      background: $project-color;
    }
  }   
}
.anda{
  color:red;
  animation-name: prueba;
          animation-duration: 1s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
          animation-timing-function: linear;
}
@keyframes prueba {
  from {
    transform: scale(1);
  }
  to{
    transform: scale(2);
  }
}
    

