@import "../../styles/bp.scss";

.element_contact {
  background: #72c0bc;
  margin-bottom: 4rem;
  filter: drop-shadow(2px 4px 6px black);
  #refe {
    font-size: 0.1rem;
    display: none;
    justify-content: flex-end;
    color: rgba(73, 73, 73, 0.692);
    a {
      text-decoration: none;
      color: rgba(73, 73, 73, 0.692);
    }
  }
  div {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
  }
  .container {
    div {
      filter: grayscale(1);
      img {
        height: 3rem;
        margin: 0 1rem;
        filter: drop-shadow(2px 4px 6px black);
      }
      &:hover {
        transform: scale(1.1);
        filter: grayscale(0);
      }
    }
    @include respond-to("default") {
      display: grid;
      grid-template-columns: 1fr 1fr;
      div{
        width: auto;
        display: flex;
        flex-direction: column;
        img{
          object-fit: contain;
        }
        label{
          text-align: center;
          padding-top: .5rem;
        }
      }
    }
  }
}
