@import "../../styles/bp.scss";

    .element_project {
        background: #333333;
        margin-bottom: 2rem;

        .card_project {
            width: 80%;
            margin: auto;
            border: 2px solid black;
            border-radius: 1rem;
            min-width: 300px;
            margin-bottom: 2rem;
            filter: drop-shadow(2px 4px 6px black);
            div{
                padding: 2rem;
                width: auto;
            }
            h4{
                color: #ef9128;
            }
            p{
                color: #fff;
            }
            label{
                color: #fff;
            }
            &:last-child{
                h4{
                    color: #b760f4;
                }
            }

        }

        @include respond-to("default") {
            .card_project {

            }
        }


    }