@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&display=swap');html,
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
/*     overflow: auto;
    overflow-x: hidden;
    background-color: #73c0bc; */
    overflow-y: auto;
    position: relative;
    transition: box-shadow 1s;

::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
  width:1rem;
}

::-webkit-scrollbar-button:increment,.content::-webkit-scrollbar-button {
  display: none;
} 

::-webkit-scrollbar:horizontal {
  height: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #f3c26b7a;
  border-radius: 0px 50px;
}

::-webkit-scrollbar-track {
    border-radius: 9999px;
    background-color: #0000002b;
    width: 1px;
    font-size: .5rem;
    margin: 4rem;
}


}
