@import "../../styles/bp.scss";

.element_about{
    top: -30px;
    z-index: 200;
    background: hsl(177, 38%, 60%);
    color: white;
    p{
        font-size: 1.5rem;
        padding: 0 1rem;
        .impChar{
          animation-name: impChar;
          animation-duration: 4s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
          animation-timing-function: linear;
        }
        @keyframes impChar {
          0% {
            filter: opacity(1);
          }
          50%{
            filter: opacity(.5);
          }
          100% {
            filter: opacity(1);
          }
        }
      }
    @include respond-to("default") {
      p{
        font-size: 1rem;
      }
    }
  }